// core
$include-default-icons: false;
$include-form-sliders: false;
$include-highlights: false;
$include-border-radius: false;
$page-bg-color: transparent;
$font-family: Geneva, "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;

// toolbar
$include-toolbar-uis: false;

// list
$list-bg-color: #1a1a1a;
$list-color: #c7c7c7;
$list-active-color: #61A270;
$list-pressed-color: #1a1a1a;

//button
$include-button-uis: false;



