.social_google { background-image: url(../img/social_google.png); }
.social_twitter { background-image: url(../img/social_twitter.png); }
.social_facebook { background-image: url(../img/social_facebook.png); }

.social_google, .social_twitter, .social_facebook {
  width: 1.3em;
  height: 1.3em;
}

//icon masks
@include pictos-iconmask('chat');
@include pictos-iconmask('cloud_black_upload2');
@include pictos-iconmask('dislike');
@include pictos-iconmask('heart');
@include pictos-iconmask('left2');
@include pictos-iconmask('like');
@include pictos-iconmask('music1');
@include pictos-iconmask('pause');
@include pictos-iconmask('play1');

//icon masks colors
.cloud_black_upload2.x-icon-mask { 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(179,216,244)), to(rgb(64,172,243))) !important; 
}
.like.x-icon-mask {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(140,198,63)), to(rgb(140,198,63))) !important;
}
.play1.x-icon-mask {
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(200,200,200))) !important;
	margin-right: -0.4em; // This fixes icon offset
}
.pause.x-icon-mask {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(200,200,200))) !important; 
}
.dislike.x-icon-mask {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(249,118,163)), to(rgb(199,47,61))) !important;
}
.left2.x-icon-mask { 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(217,224,33)), to(rgb(217,224,33))) !important; 
}
.chat.x-icon-mask { 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(255,255,255)), to(rgb(200,200,200))) !important; 
}
.heart.x-icon-mask { 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(249,118,163)), to(rgb(199,47,61))) !important; 
}
.music1.x-icon-mask { 
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(251,176,59)), to(rgb(247,115,30))) !important; 
}

//button ui
.x-button-buy {
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgb(251,176,59)), to(rgb(247,115,30))) !important;
    height: 3em;
    font-size: 1em;
}
.btn-bevel-buy {
	padding: 5px;
	margin: 10px 10px 10px 20px;
	border-radius: 8px;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(0,0,0, 0.5)), to(rgba(102,102,102, 0.3))) !important;
	height: 45px;
}