.sr-playlist {
    img{
		width: 35px;
		height: 35px;
		margin: -5px 10px 0px 7px;
		float: left;
	}
	.x-list .x-list-item {
		border-top: 1px solid rgba(255, 255, 255, .2);
		border-bottom: 1px solid rgba(0, 0, 0, .2);
		padding: none;
		margin: none;
		text-shadow: 1px 1px 1px rgba(255,255,255,.5);
		background-color: transparent;
	    &:last-child {
		    border-bottom: none !important;
		}
	}
	
	.x-list .x-list-item:hover {
		background-color: rgba(255,255,255, 0.1);
	}
}