body {
	background-image:  url("../img/background.png") !important;
	-webkit-background-size: cover !important;
	background-size: cover !important;
	background-repeat: no-repeat;
	background-position: center center;
	cursor: default;
}

// align text
.x-toolbar .x-field-input {
	padding-top: 5px;
}

// Fixes audio player not hiding properly on iOs devices.
audio {
	display: none;
}