/**
 * @class Ext.Toolbar
 */

/**
 * @var {color} $toolbar-base-color
 * The primary color variable from which toolbars derive their light and dark UIs.
 */
$toolbar-base-color: $base-color !default;

/**
 * @var {measurement} $toolbar-spacing
 * Space between items in a toolbar (like buttons and fields)
 */
$toolbar-spacing: .2em !default;

.x-toolbar {
    padding: 0 $toolbar-spacing;
    margin-bottom: 0.2em;
    background-color: transparent;
    border-width: 0 !important;

    &.x-docked-left {
        width: 7em;
        padding: $toolbar-spacing;
    }

    &.x-docked-right {
        width: 7em;
        padding: $toolbar-spacing;
    }

    &.x-docked-bottom {
        background-color: $background-color;
    }
}

.x-toolbar-inner {
    height: 100% !important;
}

.x-title {
    line-height: 32px;
    font-size: $font-size-extra-large;
    color: $foreground-color;
    text-align: left;
    margin: 0 0.3em;
    padding: 0 5px;
    font-weight: normal;
}

.x-field-select .x-component-outer .x-input-el {
//    color: $phone-contrast-foreground-color !important;
}
